#<FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
#SetHandler application/x-lsphp72
#</FilesMatch>
<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on

    RewriteRule ^([a-z0-9_-]+)\.html$ index.php/page/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|asset|robots\.txt)
	RewriteRule ^(.*)$ ./index.php?/$1 [L,QSA]
    
</IfModule>